/* $Id: project_release.css,v 1.8 2009/01/12 20:07:19 dww Exp $ */

.node-form fieldset .version-elements .form-item {
  float: left;
  padding-right: 0.8em;
  margin: 0.05em 0.1em;
}

/***************************
* CSS for tables of releases
*/
table.releases {
  margin-top: .5em;
}

table.releases .release-title {
  width: 15%;
}

table.releases .release-date {
  width: 15%;
}

table.releases .release-size {
  width: 10%;
}

table.releases .release-links {
  width: 33%;
}

table.releases .release-status {
  width: 25%;
}

table.releases .release-icon {
  width: 2%;
}

table.releases tr.ok {
  background-color: #dfd;
  border-color: #beb;
}

table.releases tr.warning {
  background-color: #ffd;
  border-color: #eeb;
}

table.releases tr.error {
  background-color: #fcc;
  border-color: #ebb;
  color: #200;
}
