/* $Id: project_release.css,v 1.11 2009/11/30 10:31:32 dww Exp $ */

.node-form .version-elements .form-item {
  float: left;
  padding-right: 0.8em;
  margin: 0.05em 0.1em;
}

/***************************
* CSS for tables of releases
*/
table.releases {
  margin-top: .5em;
}

table.releases .release-title {
  width: 15%;
}

table.releases .release-date {
  width: 15%;
}

table.releases .release-size {
  width: 10%;
}

table.releases .release-links {
  width: 33%;
}

table.releases .release-status {
  width: 25%;
}

table.releases .release-icon {
  width: 2%;
}

table.releases tr.ok {
  background-color: #dfd;
  border-color: #beb;
}

.download-table-warning tr.odd,
.download-table-warning tr.odd td.active,
.download-table-warning tr.even,
.download-table-warning tr.even td.active,
table.releases tr.warning {
  background-color: #ffd;
}

.download-table-error tr.odd,
.download-table-error tr.odd td.active,
.download-table-error tr.even,
.download-table-error tr.even td.active,
table.releases tr.error {
  background-color: #fcc;
}

.view-project-release-download-table table {
  width: 95%;
}

.view-project-release-download-table td.views-field-version {
  width: 25%;
}

.view-project-release-download-table td.views-field-files {
  width: 30%;
}
.view-project-release-download-table td.views-field-files span.filesize {
  font-size: 80%;
}

.view-project-release-download-table td.views-field-changed {
  width: 20%;
}

.view-project-release-download-table td.views-field-view-node {
  width: 25%;
}

.project-release-files .views-field-filehash {
  color: #999;
}
